body 
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
}

header
{
	text-align: center;
}

section article table
{
	border-collapse: collapse;
	font-size: 5em;
	margin: 0 auto;
}

section article table td
{
	text-align: center;
	width: 100px;
}


#n11,#n12,#n21,#n22
{
	border-bottom: 8px solid red;
	border-right: 8px solid red;
}

#n13,#n23
{
	border-bottom: 8px solid red;
}

#n31,#n32
{
	border-right: 8px solid red;
}