body 
{
	margin: 0 auto;
	max-width: 1024px;
	font-size: 16px;
}

h1
{
	text-align: center;
}

header nav
{
	text-align: center;
}

header nav ul li
{
	display: inline-block;
}

header nav ul li button
{
	width: 90px;
	text-align: center;
}

#artBajas
{
	display: none;
	width: 70%;
	margin: 0 auto;
}