body 
{
	margin: 0 auto;
	max-width: 1024px;
	font-size: 16px;
}

table
{
	margin: 0 auto;
	border-collapse: collapse;
}

table tr td
{
	width: 50px;
	padding: 5%;
}

table tr td input
{
	border-style: none;
	background: none;
	width: 100%;
}

form
{
	text-align: center;
	color: gray;
	border: 1px solid black;
}

#t12,#t22,#t32
{
 border-left: 2px solid hotpink;
 border-right: 2px solid hotpink;
}

#t21,#t22,#t23
{
	border-top: 2px solid hotpink;
	border-bottom: 2px solid hotpink;
}




